li {
    float: left;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 75px;
    font-size: 75px;
}

.header-logo { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    padding: 20px 40px;
    font-size: 150px;
}

.header {
    background-color:purple;
    height: 250px;
}

img {
    float: left;
    width: 1500px;
    height: 1500px;
    margin: 200px;
}

.paragraphs {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 275px;
}

.person {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150px;
    padding-left: 500px;
    margin-top: 250px;
}