li {
    float: left;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: 25px;
}

.header-logo { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    padding: 20px 20px;
    font-size: 25px;
}

.header {
    background-color:purple;
    height: 75px;
}

img {
    float: left;
    width: 250px;
    height: 250px;
    margin: 50px;
}

.paragraphs {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.person {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-left: 100px;
    margin-top: 25px;
}